[submodule "repos/nested_learning"]
	path = repos/nested_learning
	url = git@github.com:kmccleary3301/nested_learning.git
[submodule "repos/dinov3"]
	path = repos/dinov3
	url = git@github.com:white-richard/dinov3.git
