torch
torchvision
numpy
pandas
opencv-python
matplotlib
scikit-learn
umap-learn
tqdm
jupyter
ipykernel
ollama
python-lsp-server
pacmap
timm
pytest
einops
numba>=0.57
llvmlite>=0.40
lightning
rich
tensorboard