torch
torchvision
numpy
pandas
opencv-python
matplotlib
scikit-learn
umap-learn
tqdm
jupyter
ipykernel
ollama
pacmap
timm
python-lsp-server
pytest
einops
numba>=0.57
llvmlite>=0.40
lightning
rich
tensorboard
dvc
dvc-ssh
