model:
  vocab_size: 32000
  dim: 512
  num_layers: 12
  heads: 8
  teach_scale: 0.10
  teach_clip: 5.0
  surprise_threshold: 0.02
  freeze_backbone: false
  qk_l2_norm: true
  local_conv_window: 4
  block_variant: hope_attention
  teach_schedule:
    warmup_steps: 2000
    decay_start: 120000
    decay_duration: 20000
  titan_level:
    name: titan
    update_period: 8
    optimizer_key: titan_opt
  cms_levels:
    - name: cms_fast
      update_period: 1
      optimizer_key: cms_opt
    - name: cms_mid
      update_period: 4
      optimizer_key: cms_opt
    - name: cms_slow
      update_period: 32
      optimizer_key: cms_opt
    - name: cms_ultra
      update_period: 128
      optimizer_key: cms_opt
  optimizers:
    titan_opt:
      type: deep_momentum
      lr: 6.0e-4
      params:
        beta: 0.9
        beta2: 0.999
        variant: nl_l2_precond
    cms_opt:
      type: deep_momentum
      lr: 3.0e-4
      params:
        beta: 0.9
        beta2: 0.999
        variant: nl_l2_precond

